@import "tailwindcss";

:root {
--background: #D4E0EB;
}

html {
  scroll-behavior: smooth;
  
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
